       
img.ab{
   width: 250px;
  margin-right:20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 50px; 
  border: 20px solid white; 
  border-bottom-width: 70px;
  border-radius: 10px 10px 10px 10px;
}
.row {
    display:flex;
     flex-wrap:wrap;
     background-color: #c8d6e5;
     padding: 50px;
    padding-left: 100px;
    padding-top: 9px;
}

.text h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
}
.text {
    
    color:rgb(243, 246, 242);
    background-color: rgba(0, 14, 4, 0.5);
    font-weight:bold;
    position:absolute;
    width:80%;
    text-align:center;
    margin-top:-800px;
    padding-left: 130px;
    text-decoration-style:double;
    padding-top:280px;
    padding-right:155px;
}

.text button{
 background-color: darkseagreen;
 font-size: 30px;
 margin-bottom: 300px;
}
.map{
     background-color: rgba(0, 0, 0, 0.3);
}
.map h1{
    padding-top:10px;
    margin-bottom:50px;
    color:black;
    text-align: center;
}
.map iframe
{
    margin-left:250px;
    display:flex;
    flex-wrap:wrap;
}
.image
{
    width: 100%;
    background-image:url("./images/home.png");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    height:800px;
    animation-name:fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-direction: alternate;  
}
header{
    padding-top: 50px; 
    font-size: 40px;
    text-align: center;
    background-color:#c8d6e5;
    margin-top: 2px;
}
h3
{ 
    margin-top:-80px;
    padding-left:100px;
}

@keyframes fade {
      0%
      {
        background-image: url("./images/home1.png");
        
      }
      25%
      {
        background-image: url("./images/home2.png");
      
      }
      75%
      {
        background-image: url("./images/home3.png");

      }
      100%
      {
        background-image: url("./images/homee4.png");
      }

}  
@media screen and (max-width: 780px){

    .map iframe 
    {
       margin-left:30px;
       width:900px;
    }
    .row{
        padding-left:150px;
    }   
   .text{
    width:70%;
   } 
   .text button{
        margin-bottom:250px;
   }
} 
